.gradle/
.kotlin
library/libs/ios/cactus.xcframework
library/libs/android/jniLibs
example/iosApp/iosApp
example/iosApp/Frameworks
example/iosApp/iosApp.xcodeproj/Frameworks
library/src/commonMain/resources/ios/cactus.xcframework
library/src/commonMain/resources/android/jniLibs